@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Thin.otf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PROCera\ Stencil\ PRO\ Light.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Medium.otf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.otf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Black.otf);
    font-style: normal;
    font-weight: 700;
}

:root{
    
    --ff-cera : 'Cera Stencil PRO' ;
    --fw200: 200;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fs-heading: calc(40px + 2vw);
    --fs-title: ;
    --fs-para: ;
    --bg: #40514e;
    --bg-title: ;
    --bg-para: ;
    --bg-btn: #40514e;
    --clr: #fff;
    --clr-heading: #005A4A ;
    --clr-title: #005a4a;
    --clr-para: #339b88;
    --clr-btn: #fff;
    --shadow: ;
    --shadow-btn: rgb(255, 255, 255) 10px -10px 0px -3px, #005a4a 10px -10px;
    --trans: all 0.3s linear;
    
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: var(--ff-cera);
}
nav, 
.navbar .dropdown-menu,
footer{
    background: var(--bg);
}

section.cover{
    padding-top: calc(200px - 3vw);
}
section.cover,
section.trend,
section.category,
section.collection,
section.slide{
    margin-bottom: calc(100px - 3vw );
}
section.trend h1,
section.category h1,
section.collection h1 {
    margin-bottom: calc(80px - 3vw);
    color: var(--clr-heading);
    font-weight: var(--fw700);
    letter-spacing: 10px;
    font-size: var(--fs-heading);
    text-align: center;
}
section.trend .card p,
section.collection .card p{
    color: var(--clr-para)
}
section.trend .card h5,
section.collection .card h5,
section.collection .card h6{
    color: var(--clr-title);
}
nav a {
    color: var(--clr);
}
nav a:hover {
    color: #161616;
}
.nav-item a{
    color: var(--clr);
    font-weight: var(--fw200);
}
.nav-item a:hover{
    color: #161616;
    font-weight: var(--fw600);
    transition: var(--trans);
}
nav a img{
    width: 30px;
}
a.btn {
    background: var(--bg-btn);
    color: var(--clr);
    font-weight: var(--fw200);
}
a.btn:hover {
    color: var(--bg-btn);
    background: var(--clr);
    border: 5px solid var(--bg-btn);
    font-weight: var(--fw600);
    transition: var(--trans);
    box-shadow: var(--shadow-btn);
}
section.trend .card img{
    height: calc(250px - 3vw) ;
}
footer{
    padding-bottom: calc(50px - 3vw);
}
footer .social .fa,
footer .social .fab{
    color: var(--clr);
    font-size: 22px;
    padding: 5px;
    transition: var(--trans);
}
footer h6{
    font-weight: var(--fw400);
    padding-bottom: 15px;
    font-size: fs;
}
footer p{
    font-weight: 200;
}
footer .social .fa:hover,
footer .social .fab:hover{
    color: #000;
    transform: rotate(360deg);
}