@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Thin.otf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PROCera\ Stencil\ PRO\ Light.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Medium.otf);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Bold.otf);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Cera Stencil PRO';
    src: url(Cera_Stencil_PRO/Cera\ Stencil\ PRO\ Black.otf);
    font-style: normal;
    font-weight: 700;
}

:root{
    
    --ff-cera : 'Cera Stencil PRO' ;
    --fw200: 200;
    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;
    --fw700: 700;
    --fs-heading: ;
    --fs-title: ;
    --fs-para: ;
    --bg: ;
    --bg-title: ;
    --bg-para: ;
    --bg-btn: ;
    --clr-heading: ;
    --clr-title: ;
    --clr-para: ;
    --clr-btn: ;
    --shadow: ;
    --shadow-btn: ;
}

*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: var(--ff-cera);
}

nav a img{
    width: 30px;
}